html,body {
    margin: 0;
    padding: 0;
}

body {
   font-family: Arial, Helvetica, sans-serif; 
   background-color: #ddd;
   line-height:1.65;
   padding-bottom: 1000px; 
   /* padding-buttom supaya bisa di scroll */
}

/* Latihan 1 */

.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color:#fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;

}

.kolom-utama{
    flex: 3;
    order : 2;


}

.sidebar-satu{
    flex : 1;
    order : 1;


}

.sidebar-dua{
    flex : 1;
    order : 3;

}

/* Latihan 2 */
.container-dua{
    max-width: 800px;
    /* max-width dipakai untuk membuat tampilan menjadi responsif, ketika layarnya dikecilkan akan otomatis mengecil, jika hanya memakai width maka layar akan fix*/
    margin:50px auto;
   
}

/* membuat jarak antar elemen sama dan ada spasi ditengah caranya = */
.Layanan {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.Layanan.satu {background-color:rgb(119, 119, 255);}
.Layanan.dua {background-color: rgb(103, 216, 103);}
.Layanan.tiga {background-color:rgb(255, 124, 124);}


/* Latihan 3 */
.container-tiga {
    max-width: 800px;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.thumbnail{
    width: 50%;
}
.thumbnail img {
    width: 100%;
}

/* Latihan 4 */

.container-empat {
    width: 800px;
    margin: 50px auto;
    display: flex;

}

.card{
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    margin: 10px;
    flex: 1;
}

/* pertanyaan : kenapa .card .header mesti dikasih spasi? bedanya apa kalo tanpa spasi? */
.card .header {
    height: 150px;
    background-color: #666;
    padding-bottom: 20px;
}

.card .content {
    text-align: center;
    padding-bottom: 20px;
}
.card.besar {
    transform: scale(1.12);
}




/* responsive */
@media(min-width: 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }

    .Layanan {
        width: 30%;
    }

    .thumbnail{
        width: 25%;
    }

    .card {
        width: 25%;
    }
}



